/* @import */

:root {
    --blue:#488cff;
    --lightblue :#add8e6;
    --orange:#ffcc35;
    --black:#1a1a1a;
    --grey:#778899;
    --white:#ffffff;;
  }

* {
    margin: 0;
    padding: 0;
    border: 0;
    color: var(--black)
}

h1 {
    font-size: 6rem;
}



/* =======header======= */


header {
    background-color: var(--white);
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-block: 2rem;
    padding-left: 4rem;
    padding-right: 8rem;
}

.header-logo {
    height: auto;
    width: 15rem;
}

.header-button {
    width : 12rem;
    height: 5rem;
    border : 1px solid;
    border-radius: 40px;
    background-color: var(--blue);
}

/* =======hero-banner======= */

.hero-banner {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 60vh;
    background-color: var(--orange);
}

.hero-banner p {
    font-size: 3rem;
}

.hero-banner form {
    display: flex;
    justify-content: center;
}

.home-search-bar {
    width: 26rem;
    height: 4rem;
    padding: 1rem;
    border-radius: 30px;
    border: 2px solid;
    border-color: var(--black);
    background-color: var(--lightblue);
    &:focus {
        background-color: var(--white);
        border-color: var(--black);
    }
}

.submit-button {
    width: 6rem;
    height: 4rem;
    margin-left: 4rem;
    border: 1px solid;
    border-radius: 40px;
    background-color: var(--blue);
}

/* =======main======= */

.main { 
    height: 50vh;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: var(--black);
}

.home-img-container {
    height: inherit;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.home-img-box {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.home-img {
    display: flex;
    justify-content: center;
    width: 80%
}

/* =======footer======= */

footer {
    background-color: var(--orange);
    width: 100%;
}

.footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-inline: auto;
    padding-block: 2rem;
    width: 80%;
}

footer a {
    display: flex;
    flex-direction: column;
    padding-block: 0.5rem;
    color: var(--white);
}

.footer-box {
    width: 12rem;
    height: 12rem;
    padding: 1rem;
    border: 1px solid;
    background-color: var(--black);
    border-radius: 30px;
}

.footer-box h2 {
    text-align: center;
    color: var(--white);
}

.footer-box-padtop {
    padding-top: 1rem;
}